evaluation/.ipynb_checkpoints
venv
__pycache__
.git
.idea
model/__pycache__
model/.ipynb_checkpoints
evaluation/__pycache__
data/Новая разметка
data/JRCNames.doc
data/JRCNames.java
data/entities(1)
ru2
spacy-ru
data/JRCNames.doc
data/JRCNames.java
model/Paragraphs/data_analysis/.ipynb_checkpoints



